.make-bold {
  font-weight: bold
}

.override {
  margin-left: 15px !important;
  margin-right: 15px !important
}

.hidden {
  display: none;
}

input.input {
  max-width: 50%;
}

input[type=number] {
  border: none !important;
  box-shadow: none;
  border-bottom: 1px solid #dbdbdb !important;
}