.dataset-info {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.vertical-center {
  height: 100%;
  margin: 0;
}

.resize-none {
  resize: none;
}

.is-hidden {
  display: none;
}

.hero-body {
  padding-bottom: 10px;
}