@import "~bulma/bulma";
@import '~bulma-accordion/dist/css/bulma-accordion.sass';

html,
body {
  height: 100%;
  overflow: auto;
}

#right-side-bar {
  overflow: auto;
  padding-right: 0.5em !important;
}

#left-side-bar {
  padding-right: 0.5em !important;
}

#navigation-bar {
  height: 3.5rem;
}

#body {
  height: calc(100vh - 4rem);
  padding-top: 0.5em;
}