.close-icon {
  margin-left: 2px;
}

.color-swatch {
  margin-right: 2px
}

.columns {
  margin: 0 !important
}

.column {
  padding: 0;
}

.divider {
  width: 100%;
  border-bottom: 1px solid black;
}


// Table CSS
table {
  width: 100%;
  border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
  cursor: s-resize;
  background-repeat: no-repeat;
  background-position: 3% center;
}

td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

th.des:after {
  content: "\21E9";
}

th.aes:after {
  content: "\21E7";
}

// Table CSS end