.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.redo .img {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}