.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.redo .img {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.redo:hover {
  background: rgba(200, 200, 200, 0.3);
}

.undo:hover {
  background: rgba(200, 200, 200, 0.3);
}

.disable {
  opacity: 0.1;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}