#mid-bar {
  height: 80vh;
  overflow-y: auto;
  overflow-x: auto;
}

.used-set-background {
  fill: rgb(240, 240, 240);
  stroke: none;
}

.used-set-foreground {
  fill: #636363;
  stroke: white;
  stroke-width: 1px;
}

.header {
  cursor: pointer;
}

.connector {
  cursor: s-resize;
}

.connector-rect {
  fill: rgb(240, 240, 240);
  stroke: none;
}

.set-label {
  font-size: 12px;
}

.subset-background-rect {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.group-background-rect {
  fill: #ccc;
  stroke: #555;
  stroke-width: 1px;
  opacity: 0.3;
}

.vert-set-rect {
  fill: none;
  opacity: 0.1;
}

.highlight {
  fill: rgb(254, 217, 166);
  opacity: 1;
}

.highlight2 {
  stroke: black;
  stroke-width: 0.5px;
}

.set-membership {
  stroke: none;
}

.not-member {
  fill: rgb(240, 240, 240);
}

.member {
  fill: rgb(99, 99, 99);
}

.combination-line {
  stroke: rgb(99, 99, 99);
  stroke-width: 3px;
  pointer-events: none;
}

.cardinality-bar0 {
  fill: rgb(189, 189, 189);
}

.cardinality-bar1 {
  fill: rgb(136, 136, 136);
}

.cardinality-bar2 {
  fill: rgb(37, 37, 37);
}

.axis {
  stroke: black;
  stroke-width: 1px;
  fill: none;
  shape-rendering: crispEdges;
}

.tick {
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.tick-label {
  font-size: 0.7em;
}

.cardinality-slider-rect {
  fill: #ccc;
  pointer-events: all;
  opacity: 0.5;
  stroke: black;
  stroke-width: 1px;
  cursor: col-resize;
}

.break-bar {
  stroke: white;
  stroke-width: 1px;
}

.slider-brush {
  fill: #aaa;
  opacity: 0.2;
  pointer-events: none;
}

.inner-text-group {
  cursor: s-resize
}

.cardinality-label-rect {
  fill: #ccc;
  stroke: black;
  opacity: 1;
  transition: opacity 1s;
  stroke-width: 0.3px;
}

.hide {
  opacity: 0;
  transition: opacity 1s
}

.slider-brush-path {
  fill: #ccc;
  opacity: 0.5;
  transition: opacity 1s
}

.cardinality-text {
  font-size: 0.8em;
}