svg {
  // border: 1px solid black
}

.setSizeBackground {
  fill: #ddd;
}

.columns {
  fill: #ddd;
}

text {
  fill: #000
}

g .row {
  pointer-events: none;
}

.groupBackgroundRect {
  fill: #cccccc;
  stroke: #555555;
  stroke-width: 1px;
  opacity: 0.3;
}

.cardinalityBar {
  fill: rgb(189, 189, 189)
}

.subsetBackgroundRect {
  opacity: 00;
}

.combinationRect {
  opacity: 00;
}

.setSizeForeground {
  stroke: white;
  stroke-width: 1px;
  fill: #636363;
}

.cardinalityScaleGroup {
  // stroke: black;
  // stroke-width: 1px;
  fill: none
}

.axis {
  stroke: black
}

.tick text {
  font-size: 0.5em;
}

.sliderEl {
  fill: black;
  opacity: 0.4;
}

.drawBrush {
  fill: gray;
  opacity: 0.2
}

.cellConnector {
  stroke: rgb(99, 99, 99);
  stroke-width: 3
}

.positive {
  fill: #74add1
}

.negative {
  fill: #f46d43
}

.devScaleText {
  font-size: 0.75em
}

.devSortButton {
  fill: #ccc;
  pointer-events: all
}