svg {
  // border: 1px solid black
}

.setSizeBackground {
  fill: #ddd;
}

.columns {
  fill: #ddd;
}

.groupBackgroundRect {
  fill: #cccccc;
  stroke: #555555;
  stroke-width: 1px;
  opacity: 1;
}

.subsetBackgroundRect {
  opacity: 00;
}

.combinationRect {
  opacity: 00;
}

.setSizeForeground {
  stroke: white;
  stroke-width: 1px;
  fill: #636363;
}